.DailyActivity {
  font-family: Roboto;
  background: #fbfbfb;
  border-radius: 10px;
  position: relative;
  @media (max-width: 1024px) {
    width: 650px;
  }
  h2 {
    margin-bottom: 0px;
    margin-top: 0px;
    position: absolute;
    top: 15px;
    left: 15px;
    color: #20253a;
    font-size: 15px;
  }
  .recharts-responsive-container {
    width: 650px;
  }
}
